
<h2>Importing libraries and connection to Postgresql database </h2>

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.preprocessing import PolynomialFeatures
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2

In [2]:
# Connection to Postgresql
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="swordartonline86",
    host="localhost"
)
cur=conn.cursor()

In [3]:
# cur.execute("create table ")

<h1>  Data exploration % Data cleaning </h1>

<h2> Get data from Database </h2>

In [4]:
df_customer=pd.read_sql_query('select * from customer',conn)
df_orders= pd.read_sql_query('select * from orders',conn)
df_order_payment=pd.read_sql_query('select * from order_payments',conn)
df_order_review=pd.read_sql_query('select * from order_reviews',conn)
df_product_summarize=pd.read_sql_query('select * from product_summarize',conn)

C:\Users\suley\AppData\Local\Temp\ipykernel_15888\475258135.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customer=pd.read_sql_query('select * from customer',conn)
C:\Users\suley\AppData\Local\Temp\ipykernel_15888\475258135.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_orders= pd.read_sql_query('select * from orders',conn)
C:\Users\suley\AppData\Local\Temp\ipykernel_15888\475258135.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_order_payment=pd.read_sql_query('select * from order_payments',conn)
C:\Users\suley\AppData\Local\Temp\ipykernel_15888\475258135.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_order_review=pd.read_sql_query('select * from order_reviews',conn)
C:\Users\suley\AppData\Local\Temp\ipykernel_15888\475258135.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_product_summarize=pd.read_sql_query('select * from product_summarize',conn)

<a id="data_exploration"></a>
<h2>Data exploration</h2>
<a href="#Orders_payment">Go to Order Payment exploration</a><br>
<a href="#Customer_exploration">Go to Customer exploration exploration</a><br>

<a href="#Orders">Go to Orders exploration</a><br>
<a href="#Product_summarize">Go to Product summarize exploration</a> <br>
<br>

<a id="Orders_payment"></a>
<h3><b> Order Payment  exploration</b></h3>

In [5]:
df_order_payment.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [6]:
df_order_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [7]:
df_order_payment.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [8]:
# Unique payment types
df_order_payment['payment_type'].unique()

array(['credit_card', 'cash', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

<a id="customer_exploration"> </a>
<h3> Customer exploration</h3>

In [9]:
df_customer.head()

,customer_id,customer_unique_id,customer_zipcode_prefix,customer_country,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,Franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,Sao Bernardo Do Campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,Sao Paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Mogi Das Cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,Campinas,SP

In [10]:
# AS  Non-Null values equal to entries there's no null values   
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              99441 non-null  object
 1   customer_unique_id       99441 non-null  object
 2   customer_zipcode_prefix  99441 non-null  int64
 3   customer_country         99441 non-null  object
 4   customer_state           99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [11]:
# As primary key  'customer_id' has the same value as row counts there's no duplicate  
df_customer.nunique()

customer_id                99441
customer_unique_id         96096
customer_zipcode_prefix    14994
customer_country            4119
customer_state                27
dtype: int64

In [12]:
#Check unique values of customer_state
df_customer['customer_state'].unique()

array(['SP', 'SC', 'MG', 'PR', 'RJ', 'RS', 'PA', 'GO', 'ES', 'BA', 'MA',
       'MS', 'CE', 'DF', 'RN', 'PE', 'MT', 'AM', 'AP', 'AL', 'RO', 'PB',
       'TO', 'PI', 'AC', 'SE', 'RR'], dtype=object)

In [13]:
#Capitalize first letter of country name

df_customer['customer_country']=df_customer['customer_country'].str.title()
df_customer['customer_country'].unique()

array(['Franca', 'Sao Bernardo Do Campo', 'Sao Paulo', ...,
       'Monte Bonito', 'Sao Rafael', 'Eugenio De Castro'],
      shape=(4119,), dtype=object)

<a id="Orders"></a>
<h3> Orders  exploration</h3>

In [14]:
df_orders.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14

In [15]:
# Checking Null values 
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       112650 non-null  object
 1   order_item_id  112650 non-null  int64
 2   product_id     112650 non-null  object
 3   seller_id      112650 non-null  object
 4   price          112650 non-null  float64
 5   freight_value  112650 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.2+ MB

In [16]:
df_orders.nunique()

order_id         98666
order_item_id       21
product_id       32951
seller_id         3095
price             5968
freight_value     6999
dtype: int64

<h3> Order review exploration</h3>

In [17]:
df_order_review.head()

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4.0,01/18/2018,01/18/2018
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5.0,03/10/2018,03/11/2018
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5.0,02/17/2018,02/18/2018
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5.0,04/21/2017,04/21/2017
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5.0,03/01/2018,03/02/2018

In [18]:
df_order_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100002 entries, 0 to 100001
Data columns (total 5 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100002 non-null  object
 2   review_score             100000 non-null  float64
 3   review_creation_date     99998 non-null   object
 4   review_answer_timestamp  99998 non-null   object
dtypes: float64(1), object(4)
memory usage: 3.8+ MB

In [19]:
df_order_review['review_score'].value_counts()

review_score
5.0    57420
4.0    19200
1.0    11858
3.0     8287
2.0     3235
Name: count, dtype: int64

In [20]:
df_order_review['review_answer_timestamp']=pd.to_datetime(df_order_review['review_answer_timestamp'])
df_order_review['review_creation_date']=pd.to_datetime(df_order_review['review_creation_date'])
df_order_review['review_creation_date']=df_order_review.review_creation_date.dt.strftime('%d/%m/%Y')
df_order_review['review_answer_timestamp']=df_order_review.review_answer_timestamp.dt.strftime('%d/%m/%Y')
df_order_review.head()

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4.0,18/01/2018,18/01/2018
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5.0,10/03/2018,11/03/2018
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5.0,17/02/2018,18/02/2018
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5.0,21/04/2017,21/04/2017
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5.0,01/03/2018,02/03/2018

<a id="Product_summarize"></a>

<h3>Product summarize exploration</h3>

In [21]:
df_product_summarize.head()

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [22]:
df_product_summarize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32340 entries, 0 to 32339
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32340 non-null  object
 1   product_category_name          32340 non-null  object
 2   product_name_length            32340 non-null  float64
 3   product_description_length     32340 non-null  float64
 4   product_photos_qty             32340 non-null  float64
 5   product_weight_g               32340 non-null  float64
 6   product_length_cm              32340 non-null  float64
 7   product_height_cm              32340 non-null  float64
 8   product_width_cm               32340 non-null  float64
 9   product_category_name_english  32340 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.5+ MB

In [23]:
df_product_summarize.describe()

,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32340.000000,32340.000000,32340.000000,32340.000000,32340.000000,32340.000000,32340.000000
mean,48.476592,771.492393,2.188961,2277.043166,30.854545,16.958813,23.208596
std,10.245699,635.124831,1.736787,4279.252856,16.955965,13.636115,12.078762
min,5.000000,4.000000,1.000000,2.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [24]:
df_product_summarize.nunique()

product_id                       32340
product_category_name               73
product_name_length                 66
product_description_length        2960
product_photos_qty                  19
product_weight_g                  2201
product_length_cm                   99
product_height_cm                  102
product_width_cm                    95
product_category_name_english       72
dtype: int64

<h2> Save dataframes as CSV files </h2>

In [25]:
# df_product_summarize.to_csv("C:/Users/suley/OneDrive/Рабочий стол/programming/satis/datasets/cleaned_transformed/product_summarize.csv")
# df_customer.to_csv("C:/Users/suley/OneDrive/Рабочий стол/programming/satis/datasets/cleaned_transformed/customer.csv")
# df_order_payment.to_csv("C:/Users/suley/OneDrive/Рабочий стол/programming/satis/datasets/cleaned_transformed/order_payment.csv")
# df_order_review.to_csv("C:/Users/suley/OneDrive/Рабочий стол/programming/satis/datasets/cleaned_transformed/order_review.csv")
# df_orders.to_csv("C:/Users/suley/OneDrive/Рабочий стол/programming/satis/datasets/cleaned_transformed/orders.csv")